@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-body: 'Arial', 'sans-serif';
    --font-heading: 'Slabo 27px', 'Helvetica', 'Arial', 'sans-serif';
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
  }

@layer base {
    body, html {@apply font-body text-white;}
  
    .text-body {@apply text-sm sm:text-base}
  
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5 {
      @apply font-heading font-bold sm:font-semibold;
    }
    h1, .h1 {@apply text-xl sm:text-2xl;}
    h2, .h2 {@apply text-lg sm:text-xl;}
    h3, .h3 {@apply text-base sm:text-lg;}
    h4, .h4 {@apply text-md sm:text-base;}


      /* Form input styling. Base styles from tw forms plugin */
  [type='checkbox'] {@apply text-black border-white w-6 h-6 transition duration-200 rounded cursor-pointer;}
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply
      h-auto px-4 py-3 transition duration-200 rounded-md /* size */
      bg-white border-white text-black font-bold  /* colours */
      focus:ring-0 focus:bg-white; /* focus state */
    }
  

  label, legend {@apply font-heading block text-xs}

  
  
}